
            .card-card{
                color:white;
                .card-remove{
                    height:calc((25/667)*100vh);
                }
                button{
                    height:calc((30/667)*100vh);
                }
            }

            .select-scroll-col-latest {
                overflow: inherit; 
                margin-top:calc((19/667)*100vh);
                height:calc((133/667)*100vh);
            }            

            .card-unselect-border{
                border-radius: 8px;
 	            box-shadow: 0 0 7px 0 rgba(70, 70, 70, 0.5);
            }

 
            .scroll-col-latest {
                overflow: inherit; 
                margin-left: calc((12/375)*100vw);
                margin-right:calc((12/375)*100vw);
                margin-top:calc((25/667)*100vh);
                margin-bottom:calc((25/667)*100vh);
                height:calc((121/667)*100vh);
            }      

            .card-select-border{
                border-style:solid !important;
                border-color:$default-color !important;
                border-radius: 8px;
                border-left: calc((6/375)*100vw);
                border-right:calc((6/375)*100vw);
                border-top:calc((6/667)*100vh);
                border-bottom:calc((6/667)*100vh);
            }

